
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1f1e;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#22c1c3, #6dc057);
    /* border: 1px solid white; */
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#c36022, #6dc057);
}